* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(202, 198, 198);
    background-size: cover;
    background-position: center;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    color: red;
}

.logo span{
    color: gray;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}

.nav-icon-container{
    display: flex;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;

}

nav ul li{
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translateY(-5px);
    transition: 0.2s;
    font-weight: bold;
}

.menu-button{
    display: none;
}

.wrapper {
    margin: 100px 770px;
    width: 420px;
    background: transparent;
    border: 2px solid #c7c7c7;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #484848;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #2c2c2c;
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #484848;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: black;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #484848;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .btn-img {
    width: 100%;
    height: 45px;
    background-color: #2c2c2c;
    border: none;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px #484848;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.btn-img:hover{
    background-color: grey;
    transform: all 0.2s;
}

.btn:hover{
    background-color: darkred;
    transform: all 0.2s;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.cadastro {
    text-align: center;
    padding-bottom: 25px;
    color: #484848;
}

.grey-background{
    background-color: #2c2c2c;
}

.footer-content{
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 10px 200px;
    gap: 15rem;
    margin-bottom: 85px;
}

.download-options>*{
    margin: 1rem 0;
}

.download-options>p:first-child{
    font-weight: bold;
    color: #fff;
}

.download-options>div{
    display: flex;
}

.download-options>div img{
    width: 180px;
    cursor: pointer;
}

.logo-footer{
    text-align: center;

}

.links-footer h3{
    color: #fff;
    margin-bottom: 0.8rem;

}

.links-footer ul{
    list-style: none;
}

.links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;

}

.links-footer ul li:hover{
    color: #fff;
    transform: all 0.2s;
}

.copyright{
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

/* Media queries */
@media (max-width: 800px){
    .footer-content{
        display: inline;
        font-size: 0.8rem;
    }

    .footer-content>div{
        padding: 1rem;
    }

    .download-options>div{
        display: inline;
    }

    .download-options>div img{
        width: 120px;
    }

    .copyright{
        font-size: 0.8rem;
    }
}